Repository curcaandrei/ProiectDotNet, pull requests merged in 2021-12, with the labels that each got.

#46 homepage, analyzer page
  Frontend/.gitignore
  Frontend/README.md
  Frontend/here goes the frontend.txt
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/public/favicon.ico
  Frontend/public/index.html
  Frontend/public/logo192.png
  Frontend/public/logo512.png
  Frontend/public/manifest.json
  Frontend/public/robots.txt
  Frontend/src/App.css
  Frontend/src/App.js
  Frontend/src/App.test.js
  Frontend/src/Components/Navigation/NavbarElements.js
  Frontend/src/Components/Navigation/index.js
  Frontend/src/Components/Tweetss.js
  Frontend/src/MOCK_DATA.json
  Frontend/src/Pages/about.js
  Frontend/src/Pages/analyzer.js
  Frontend/src/Pages/contact.js
  Frontend/src/Pages/homee.js
  Frontend/src/Pages/index.js
  Frontend/src/Pages/tweets.js
  Frontend/src/background.jpg
  Frontend/src/index.css
  Frontend/src/index.js
  Frontend/src/reportWebVitals.js
  Frontend/src/setupTests.js
  Frontend/src/tweet.png
  Frontend/src/twit.jpg
  Frontend/src/twt.jpg
  Frontend/yarn.lock
Labels: Frontend

#47 IntegrareBackendPartiala
  Frontend/src/Pages/analyzer.js
  Frontend/src/Pages/homee.js
Labels: Frontend

#48 partial authentication + fixed get external tweet + enabled CORS
  Backend/Application/Features/ExternalTwitterAPI/GetTweetFromURL/GetTweetFromURLQuery.cs
  Backend/Application/Features/ExternalTwitterAPI/GetTweetFromURL/GetTweetFromURLQueryHandler.cs
  Backend/Application/Persistence/IExternalTweetRepository.cs
  Backend/Domain/Entities/Tweet.cs
  Backend/InfrastructureTest/ExternalTwitterAPITestsDir/GetExternalTweetTests.cs
  Backend/Persistence/MongoDb/MongoSettings.cs
  Backend/Persistence/TwitterExternalAPI/ExternalTwitterRepository.cs
  Backend/WebApi/Controllers/AuthenticationController.cs
  Backend/WebApi/Controllers/ExternalTwitterController.cs
  Backend/WebApi/Controllers/TweetsController.cs
  Backend/WebApi/Pages/Authentication/ValidateTwitterAuth.cshtml
  Backend/WebApi/Program.cs
  Backend/WebApi/WebApi.csproj
Labels: Enhancement

#49 fixed authentication
  Backend/WebApi/Controllers/AuthenticationController.cs
  Backend/WebApi/Pages/Authentication/ValidateTwitterAuth.cshtml
  Backend/WebApi/WebApi.csproj
  Backend/WebApi/appsettings.json
Labels: Enhancement

#52 Added controller to get 10 tweets for page
  Backend/Application/Features/Tweets/GetAllTweets/GetTweetsQuery.cs
  Backend/Application/Features/Tweets/GetAllTweets/GetTweetsQueryHandler.cs
  Backend/Application/Persistence/IAsyncRepository.cs
  Backend/Persistence/Repositories/BaseRepository.cs
  Backend/WebApi/Controllers/TweetsController.cs
Labels: Fix

#53 Fix/andrei mihnea/fix login issue
  Backend/Application/Features/ExternalTwitterAPI/LogInUser/GetTwitterAuth/GetTwitterAuthQuery.cs
  Backend/Application/Features/ExternalTwitterAPI/LogInUser/GetTwitterAuth/GetTwitterAuthQueryHandler.cs
  Backend/Application/Features/ExternalTwitterAPI/LogInUser/ValidateAuth/ValidateAuthQuery.cs
  Backend/Application/Features/ExternalTwitterAPI/LogInUser/ValidateAuth/ValidateAuthQueryHandler.cs
  Backend/Application/Persistence/IExternalTweetRepository.cs
  Backend/Persistence/Persistence.csproj
  Backend/Persistence/TwitterExternalAPI/ExternalTwitterRepository.cs
  Backend/WebApi/Controllers/AuthenticationController.cs
  Backend/WebApi/WebApi.csproj
Labels: Fix

#54 responsiveness
  Frontend/src/App.css
  Frontend/src/Pages/homee.css
  Frontend/src/Pages/homee.js
Labels: Frontend

#57 integration
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/Pages/analyzer.js
  Frontend/src/Pages/homee.js
  Frontend/yarn.lock
Labels: Frontend

#60 url_input, analyzer_url, analyzer_db, pagination
  Frontend/src/App.js
  Frontend/src/Pages/analyzerdb.js
  Frontend/src/Pages/homee.js
Labels: Frontend

#63 Fixed sonar issues
  .gitignore
  Backend/Application/Commands/CreateTweet/CreateTweetCommand.cs
  Backend/Application/Commands/UpdateTweet/UpdateTweetCommand.cs
  Backend/Application/Commands/UpdateTweet/UpdateTweetCommandHandler.cs
  Backend/Application/Features/ExternalTwitterAPI/GetTweetFromURL/GetTweetFromUrlQuery.cs
  Backend/Application/Features/ExternalTwitterAPI/GetTweetFromURL/GetTweetFromUrlQueryHandler.cs
  Backend/Application/Features/Tweets/GetAllTweets/GetTweetsQuery.cs
  Backend/Application/Features/Tweets/GetAllTweets/GetTweetsQueryHandler.cs
  Backend/Application/Features/Tweets/GetOneTweet/GetOneTweetQuery.cs
  Backend/Application/Features/Tweets/GetOneTweet/GetOneTweetQueryHandler.cs
  Backend/Application/Persistence/IAsyncRepository.cs
  Backend/Application/Persistence/ITweetsRepository.cs
  Backend/Domain/Dtos/TweetDTO.cs
  Backend/Domain/Dtos/TweetDto.cs
  Backend/Domain/Entities/Tweet.cs
  Backend/InfrastructureTest/DataBaseTestsDir/CreateTweetTests.cs
  Backend/InfrastructureTest/DataBaseTestsDir/DataBaseTests.cs
  Backend/InfrastructureTest/DataBaseTestsDir/DeleteTweetTests.cs
  Backend/InfrastructureTest/DataBaseTestsDir/UpdateTweetTests.cs
  Backend/InfrastructureTest/ExternalTwitterAPITestsDir/GetExternalTweetTests.cs
  Backend/Persistence/MongoDb/MongoDbContext.cs
  Backend/Persistence/MongoDb/MongoSettings.cs
  Backend/Persistence/Repositories/BaseRepository.cs
  Backend/Persistence/Repositories/TweetRepository.cs
  Backend/Persistence/TwitterExternalAPI/ExternalTwitterRepository.cs
  Backend/Persistence/TwitterExternalAPI/TwitterHelper.cs
  Backend/Persistence/TwitterExternalAPI/TwitterSettings.cs
  Backend/WebApi/Controllers/ExternalTwitterController.cs
  Backend/WebApi/Controllers/TweetsController.cs
  Backend/WebApi/Program.cs
  Backend/WebApi/appsettings.json
  Backend/sonarqubecoverage/SonarQube.xml
Labels: Fix

#70 Unit Test
  Backend/ApiTest/ControllerTestsDir/AuthControllerTests.cs
  Backend/ApiTest/ControllerTestsDir/ExternalTweetsControllerTests.cs
  Backend/ApiTest/ControllerTestsDir/TweetsControllerTests.cs
  Backend/Application/Commands/CreateTweet/CreateTweetCommand.cs
  Backend/InfrastructureTest/ExternalTwitterAPITestsDir/BaseTests.cs
  Backend/InfrastructureTest/ExternalTwitterAPITestsDir/GetExternalTweetTests.cs
  Backend/InfrastructureTest/ExternalTwitterAPITestsDir/PostToGetAuthTests.cs
  Backend/InfrastructureTest/ExternalTwitterAPITestsDir/ValidateAuthTests.cs
  Backend/Persistence/TwitterExternalAPI/ExternalTwitterRepository.cs
  Backend/WebApi/Controllers/AuthenticationController.cs
  Backend/WebApi/Controllers/ExternalTwitterController.cs
  Backend/WebApi/Controllers/TweetsController.cs
  Backend/sonarqubecoverage/SonarQube.xml
Labels: Unit Test

#76 Temporar
  Frontend/src/App.js
  Frontend/src/Components/Navigation/index.js
  Frontend/src/Pages/analyzerdb.js
  Frontend/src/Pages/homee.js
  Frontend/src/Pages/signin.js
Labels: Frontend

#78 Frontend/cosmin/error fixes
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.js
  Frontend/src/Components/Navigation/index.js
  Frontend/src/Pages/about.js
  Frontend/src/Pages/analyzer.js
  Frontend/src/Pages/analyzerdb.js
  Frontend/src/Pages/homee.js
  Frontend/src/Pages/signin.js
  Frontend/yarn.lock
Labels: Frontend

#82 jwt token
  Backend/Application/Features/Jwt/GetJwtQuery.cs
  Backend/Application/Features/Jwt/GetJwtQueryHandler.cs
  Backend/Application/Features/Tweets/GetMyTweets/GetMyTweetsQuery.cs
  Backend/Application/Features/Tweets/GetMyTweets/GetMyTweetsQueryHandler.cs
  Backend/Application/Persistence/IAsyncRepository.cs
  Backend/Domain/Entities/MiniTweet.cs
  Backend/Domain/Entities/MiniTweetDto.cs
  Backend/Domain/Entities/TweetSerializer.cs
  Backend/Domain/Entities/UserRole.cs
  Backend/Persistence/Repositories/BaseRepository.cs
  Backend/WebApi/Controllers/AuthenticationController.cs
  Backend/WebApi/Controllers/JwtController.cs
  Backend/WebApi/Controllers/TweetsController.cs
  Backend/WebApi/Program.cs
  Backend/WebApi/WebApi.csproj
  Frontend/package-lock.json
  Frontend/package.json
Labels: Enhancement

#83 fixed code smells
  Backend/Domain/Entities/MiniTweet.cs
  Backend/Domain/Entities/MiniTweetDto.cs
  Backend/Domain/Entities/TweetSerializer.cs
  Backend/Domain/Entities/UserRole.cs
  Backend/Persistence/Repositories/BaseRepository.cs
  Backend/WebApi/Program.cs
  Backend/sonarqubecoverage/SonarQube.xml
Labels: Fix
