Repository curcaandrei/ProiectDotNet, pull requests merged in 2022-01, with the labels that each got.

#84 signin
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.js
  Frontend/src/Components/Navigation/index.js
  Frontend/src/Pages/analyzerdb.js
  Frontend/src/Pages/homee.js
  Frontend/src/Pages/mytweets.js
  Frontend/src/Pages/signin.js
  Frontend/yarn.lock
Labels: Frontend

#85 navbar-fix
  Frontend/src/Components/Navigation/index.js
  Frontend/src/Pages/mytweets.js
  Frontend/src/Pages/signin.js
Labels: Frontend

#87 Feature/andrei mihnea/request tweet to train ml
  Backend/Application/Commands/AcceptRequest/AcceptRequestCommand.cs
  Backend/Application/Commands/AcceptRequest/AcceptRequestCommandHandler.cs
  Backend/Application/Commands/RequestTweet/DeleteTweetRequestCommand.cs
  Backend/Application/Commands/RequestTweet/DeleteTweetRequestCommandHandler.cs
  Backend/Application/Features/RequestTweet/RequestToAddTweetQuery.cs
  Backend/Application/Features/RequestTweet/RequestToAddTweetQueryHandler.cs
  Backend/Application/Persistence/IRequestTweetRepository.cs
  Backend/Domain/TweetML2.zip
  Backend/Persistence/PersistenceServiceRegistration.cs
  Backend/Persistence/Repositories/RequestTweetRepository.cs
  Backend/WebApi/Controllers/RequestTweetController.cs
Labels: Enhancement

#90 added Unit tests
  Backend/ApiTest/ControllerTestsDir/JwtControllerTest.cs
  Backend/ApiTest/ControllerTestsDir/RequestTweetControllerTest.cs
  Backend/InfrastructureTest/QueryHandlers/QueryHandlersTests.cs
Labels: Unit Test

#91 request-improve-ml-alg-button
  Frontend/package-lock.json
  Frontend/src/App.css
  Frontend/src/Pages/analyzer.js
Labels: Frontend

#93 finalPUSH
  Backend/WebApi/Controllers/RequestTweetController.cs
  Frontend/src/App.css
  Frontend/src/App.js
  Frontend/src/Components/Navigation/index.js
  Frontend/src/Pages/MLRequests.js
  Frontend/src/Pages/manage-tweets.js
  Frontend/src/Pages/signin.js
  package-lock.json
  package.json
Labels: Frontend
